{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block homeactive %}active{% endblock homeactive %}
{% load static %}
{% block css %}
<style>
    .welcome-page {
        background-image: url("{% static 'images/coffee.jpg' %}");
    }
</style>
{% endblock %}
{% block body  %}

<div class="container my-4">
    <div class="p-4 p-md-5 mb-4  text-light rounded welcome-page">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome to ICoder</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
        </div>
    </div>
    {% for blog in allBlogs %}
    <div class="row mb-2">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{blog.author}}</strong>
                <h3 class="mb-0">{{blog.title}}</h3>
                <div class="mb-1 text-muted">{{blog.timestamp}}</div>
                <p class="card-text mb-auto">
                <div class="preview">{{blog.content|truncatechars:200}}</div>
                .</p>
                <p>********Go to Blog and Read this Blog********</p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="media/{{blog.image}}" class="bd-placeholder-img" width="200" height="250"
                     xmlns="http://www.w3.org/2000/svg"
                     role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                     focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                </img>

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
{% block js  %}
<script>
    let preview = document.getElementsByClassName('preview');
    Array.from(preview).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>

{% endblock %}